[Unit]
Description=Quilibrium Ceremony Client Service

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=$HOME/ceremonyclient/node
Environment=GOEXPERIMENT=arenas
ExecStart=$HOME/go/bin/node ./...
User=quilbrium
Group=quilbrium

[Install]
WantedBy=multi-user.target