[Unit]
Description=Quilibrium Ceremony Client Service

[Service]
Type=simple
Restart=always
RestartSec=5s
User=ubuntu
Group=ubuntu
EnvironmentFile=/tmp/quil-process-args/%i
WorkingDirectory=/home/ubuntu/ceremonyclient/node
ExecStart=node-1.4.19-linux-amd64 $NODE_ARGS

[Install]
WantedBy=multi-user.target