[Unit]
Description=Quilibrium Ceremony Client Service

[Service]
Type=simple
Restart=always
RestartSec=5s
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/ceremonyclient/node
ExecStart=node-1.4.19-linux-amd64

[Install]
WantedBy=multi-user.target