user: ubuntu
quilibrium_repo_install_dir: .
release_version: 1.4.19.1
current_node_version: 1.4.19.1
current_qclient_version: 1.4.19.1
os_arch: linux-amd64
qtools_version: 24
qclient_cli_name: qclient
ssh:
    allow_from_ip: false
    port: 22
service:
    file_name: ceremonyclient
    debug: false
    signature_check: false
    testnet: false
    working_dir: /home/ubuntu/ceremonyclient/node
    link_directory: /usr/local/bin
    link_name: node
    default_user: quilibrium
    quilibrium_node_path: $HOME/ceremonyclient/node
    quilibrium_client_path: $HOME/ceremonyclient/client
    restart_time: 5s
    clustering:
        enabled: false
        master_service_name: ceremonyclient
        local_only: false
        data_worker_service_name: dataworker
        base_port: 40000
        worker_base_p2p_port: 50000
        worker_base_stream_port: 60000
        master_stream_port: 8340
        default_ssh_port: 22
        default_user: ubuntu
        local_data_worker_count: null
        ssh_key_path: $HOME/.ssh
        dataworker_priority: 90
        ssh_key_name: cluster-key
        main_ip: ""
        servers: []
        auto_removed_servers: []
    args: "" # args to be passed into the main process: e.g. node-1.4.19.1-linux-amd64 --debug
    max_threads: false
data_worker_service:
    worker_count: 0
    base_port: 40000
    base_index: 1
scheduled_tasks:
    cluster:
        memory_check:
            enabled: false
            cron_expression: ""
            restart_workers: true
            memory_threshold: 80
            restart_master: false
        auto_reconnect:
            enabled: false
            cron_expression: ""
            interval_seconds: 20
            retry_count: 5
    direct_peers:
        enabled: false
        cron_expression: ""
    backup:
        enabled: true
        cron_expression: ""
        node_backup_name: ""
        backup_url: backups.example.com
        remote_user: root
        ssh_key_path: ~/.ssh/backup-server
        remote_backup_dir: /root/backups
    updates:
        qtools:
            enabled: true
            cron_expression: ""
        node:
            enabled: true
            skip_version: ""
            cron_expression: ""
        system:
            enabled: false
            cron_expression: ""
    logs:
        enabled: false
        cron_expression: ""
    statistics:
        enabled: false
        service_name: quil_statistics
        prometheus:
            endpoint: https://stats.qcommander.sh:9090/api/v1/write
            tls_config:
                cert_file: "/files/grafana.cert"
                key_file: "/files/grafana.key"
                server_name: stats.qcommander.sh
        loki:
            endpoint: https://stats.qcommander.sh:3100/loki/api/v1/push
            tls_config:
                cert_file: "/files/grafana.cert"
                key_file: "/files/grafana.key"
                server_name: stats.qcommander.sh
        grafana:
            alloy:
                enabled: true
                template_file: "/files/alloy.config"
                config_file: /etc/alloy/alloy.conf
    diagnostics:
        enabled: false
        cron_expression: ""
    config_carousel:
        enabled: false
        frames: 10
        peer_list: []
        current_index: 0
        check_workers:
            enabled: false
            cron_expression: "* * * * *"
            idle_config_file: ~/ceremonyclient/node/idle-config.yml
            in_use_config_file: ~/ceremonyclient/node/in-use-config.yml
            using_workers: false
        service_name: quil-config-carousel
settings:
    use_avx512: false
    publish_multiaddr:
        enabled: false
        remote_file: ~/directPeersList.yml
    central_server:
        ssh_key_path: ~/.ssh/backup-server
        remote_user: root
        remote_host: backups.example.com
    listenAddr:
        mode: "udp"
        port: 8336
    source_repository:
        default: https://github.com/QuilibriumNetwork/ceremonyclient.git
        # more for notes at this point
        mirrors:
            - https://source.quilibrium.com/quilibrium/ceremonyclient.git
    install:
        tailscale:
            ephemeral_key: ""
        ssh:
            disable_password_login: true
            public_key_url: ""
            public_key_string: ""
    log_file: debug.log
    snapshots:
        enabled: true
    internal_ip: ""
dev:
    default_repo_branch: develop
    default_repo_url: https://github.com/tjsturos/ceremonyclient.git
    default_repo_path: $HOME/quil-dev
